---
export interface Props {
  link: string;
  title: string;
  subTitle?: string;
}

const { link, title } = Astro.props;
---

<section class="blog-post">
  <h2>{title}</h2>
  <slot name="sub-title" />
  <div class="highlighted-card-section">
    <slot />
  </div>
  <a href={link}></a>
</section>

<style>
  .blog-post:has(a:hover) {
    animation: mesmerize 1s linear 1;
  }

  @keyframe mesmerize {
    0% {
      --border-color: rgba(var(--accent), 1);
    }

    50% {
      --border-color: var(--warning-color);
    }

    100% {
      --border-color: rgba(var(--accent-bg), 0.05);
    }
  }

  .blog-post {
    transition: all 1s;
    position: relative;
    display: block;
    cursor: pointer;
    --border-color: rgba(var(--accent-bg), 0.15);
    --blog-post-padding: 30px;
    padding: 7px 30px;
    font-size: 1em;
    background-color: rgba(var(--opposite-bg), 0.2);
    color: rgba(var(--current-color));
    backdrop-filter: blur(3px);
    padding: var(--blog-post-padding);
    border-radius: 12px;
    border: 12px solid var(--border-color);
    text-decoration: none !important;
    cursor: pointer;
    margin: 1.4em 0;
  }
  .blog-post > a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  time {
    display: inline-block;
    margin: 0 0 1.7em;
  }

  .highlighted-card-section {
    transition: all 1s;
    display: block;
    background-color: var(--border-color);
    padding: var(--blog-post-padding);
    margin: 0 calc(-1 * var(--blog-post-padding))
      calc(-1 * var(--blog-post-padding)) calc(-1 * var(--blog-post-padding));
  }
</style>
