---
import Avatar from "./Avatar.astro";

export interface Props {
  avatarSize?: "large" | "medium" | "small";
}

const { avatarSize = "medium" } = Astro.props;
---

<div class="top-sentinel"></div>
<header class="sticky-header is-sticky">
  <div class="header-avatar-container no-animate-on-render">
    <Avatar animateOnce={true} avatarSize={avatarSize} />
  </div>
  <a class="link-no-style" href="/"
    ><h2 class="name text-opposite-gradient"><span>Jigs'</span> Blog</h2></a
  >
  <nav class="sticky-nav">
    <a href="/blog"><button class="text-opposite-gradient">Posts</button></a>
  </nav>
</header>
<script>
  import { observeTop } from "./StickyHeader.js";

  observeTop(".top-sentinel");

  setTimeout(
    () =>
      document
        .querySelector(".no-animate-on-render")
        ?.classList.remove("no-animate-on-render"),
    1000
  );
</script>
<style is:inline>
  .sticky-header {
    z-index: 1000;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    --sticky-padding: 1.7em;
    padding: 0.7em var(--sticky-padding);
    background-color: rgba(var(--accent-bg), 0.6);
    border-bottom: 1em solid rgba(var(--current-bg), 0.6);
  }
  .sticky-header.is-sticky {
    backdrop-filter: blur(10px);
    background-color: rgba(var(--current-bg), 0.7);
    backdrop-filter: blur(25px);
  }

  .name {
    visibility: hidden;
  }

  .sticky-header.is-sticky .name {
    visibility: visible;
  }

  .sticky-header .avatar-container > * {
    --dim: 50;
  }

  .sticky-header .avatar-container {
    --dim: 50;
    position: relative;
    width: calc(var(--dim) * 1px);
    height: calc(var(--dim) * 1px);
    transform: translateX(
        calc(50vw - calc(var(--dim) * 1px) / 2 - var(--sticky-padding))
      )
      translateY(calc(var(--img-size) / -2)) scale(calc(var(--uimg-size) / 60));
    transition: all 0.3s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  @media (max-width: 500px) {
    /* .img-large {
      --dim: 300;
    } */
    .sticky-header .avatar-container:has(.img-large) {
      --dim: 30;
      --img-size: 300px;
      --uimg-size: 300;
      width: 30px;
    }
  }

  @media (max-width: 350px) {
    /* .img-large {
      --dim: 250;
    } */
    .sticky-header .avatar-container:has(.img-large) {
      --dim: 25;
      --img-size: 250px;
      --uimg-size: 250;
    }
  }
  .is-sticky .no-animate-on-render {
    opacity: 0;
  }

  .sticky-header img {
    width: 50px;
    height: auto;
  }

  .sticky-header a.link-no-style {
    color: inherit;
    text-decoration: none;
  }

  .sticky-header.is-sticky .avatar-container {
    transform: translateY(0) translateX(0) scale(1);
    width: 50px;
    height: 50px;
  }

  .header-avatar-container {
    position: relative;
  }

  .sticky-header.is-sticky .header-avatar-container .avatar-container {
    background: var(--accent-gradient);
    background-size: 400%;
    background-position: 0%;
  }

  .sticky-header .top-sentinel {
    position: absolute;
    top: 0;
    height: 10px;
  }
</style>
